In [1]:
import pandas as pd
import numpy as np

## pandas arrays and series

In [2]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.54725699  0.87827138  1.00568797 -0.08913671]

<class 'pandas.core.series.Series'>
0   -0.547257
1    0.878271
2    1.005688
3   -0.089137
dtype: float64

### examples of series

```{r}
s = pd.Series(data, index=index)
```

In [4]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

### creating a pandas series from a list

In [5]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

### creating a pandas series from a dictionary

In [6]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

### creating a pandas series form a single value

In [7]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

### performing simple arithmetic operations on a series

In [8]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

### produce a new boolean series derived from a existing series with a true/false statment
##### useful for selecting/filtering data

In [9]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

### can turn nulls or nas into nan with np.nan

In [10]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

### the hasnans attribute checks if series has any nas

In [12]:
# Check if series has NAs
s.hasnans

True

### isna() method shows exactly which values are na
##### because `-999` is frequently used to represent na, `mask()` can turn those into `NA`

In [14]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

### making a dataframe

In [15]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

### edit the index of an existing data frame this way

In [16]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

asdkfjsdgjosldgjsldgnolgesdf's

# check in questions

In [3]:
import pandas as pd
s = pd.Series([51, -999, 102, -999], index = ["A", "B", "C", "D"])

In [4]:
s = s.mask(s == -999)

In [24]:
# editing the df columns
df.columns = ["C1", "C2"]
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

## lesson summary

array is just a sequence of numbers, series is sequence of numbers with index, dataframe is a tabular chart, and dictionary is list thing with a 1:1 values cooresponding to each other (key:value). math can be done on pandas objects, including most numpy functions, and data can easily be manipulated to ones will